
   @media  (max-width:640px) {
     
    .header {
        background: url(../images/banner-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #666666;
    
        padding: 0;
        position: relative;
        z-index: -1;
        height: 640px;
        width: 100vw;
    }
    
    
    /*контейнер*/
    .container {
        box-sizing: border-box;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding: 0 4.4%;
    }
    
    /*верхнее меню с лого*/
    .menu-logo {
        width: 75vw;
        display: flex;
        justify-content:center;
        align-items: center;
        margin: 225px auto 44px;
    
        z-index: 1;
    }

    .menu{
    display: none;
    }

    .btn-menu{
        height: 20px;
        width: 24px;
        list-style-type: none;
        z-index: 1;
        position: absolute;
        right: 16px;
        top: 32px;
    }

    .menu-line{
        height: 4px;
        width: 24px;
        background-color: white;
        margin-top: 4px;
    }

    .menu-line:first-child{
        margin-top: 0;
    }
    
    .intro {
        box-sizing: border-box;
        width: 668px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;    
        font-size: 7vw;
        line-height: 10vw;
    
        z-index: 2;
    }

    /*-----------тренды--------*/

    .trends{
        margin-top: 45px;
      }

    .trends-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .trends-item1, .trends-item2, .trends-item3, .trends-item4{
        height: 230px;
        width: 100vw;
        max-width: 446px;
        margin-bottom: 4px;
    }

    .trends-title{
        font-size: 4.44vw;
    }

    .trends-article{
        position: absolute;
        bottom: 0;
        margin: 5.27vw;
        padding: 3.05vw 5.5vw 7.5vw; 
      }

      .trends-category-item{
        font-size: 3.88vw;
      }

/*-----------------content-------------------*/
    .content {
        flex-wrap:wrap;
        margin: 45px 16px 0;
        flex-direction: column;
    }

    .post-list {
        flex-wrap: wrap;
        width: 91.66vw;
        margin-bottom: 35px; 
    }

    .post-list::after {
        content: "";
        display: block;
        width: 91.66vw;
        height: 3px;
        background-color: #eeeeee;
        margin: 25px auto 0;
    }

    .post-list-picture{
        width: 91.66vw;
    }

    .article-title-link {
        font-size: 16px;
        line-height: 20px;
    }

    .post-list-article{
        width: 91.66vw;
        margin-top: 16px;
    }

    .article-meta {
        margin-top: 25px;
    }

    .article-preview{
        width: 100%;
        margin-top: 22px;
    }

/*------------------side bar------------*/

    .side-bar{
        width: 91.66vw;
    }

    .search-group{
        width: 78.33vw;
    }
    .field-search-group{
        width: 78.33vw;
    }
    
    .input-email{
        width: 100%;
    }

    .input-button{
        width: 100%;
    }

    .sub-input{
        width: 100%;
    }

    /*-------------SHOP-------------*/

    .shop{
        flex-direction: column;
    }

    .shop-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .shop-item{
        width: 332px;
        position: relative;
        margin-top: 278px
    }

    .shop-item:first-child{
        margin-top: 0;;
    }

    .shop-item-article{
        position: relative;
        top: 254px;
        min-height: 268px;
        box-sizing: border-box;
      }

      .shop-image-item{
        /*width: 20.96vw;*/
        position: absolute;
        left: 18px;
      }

    /*------------footer------------*/

    .footer-wrapper{
        width: 91.66vw;
    }



    /*------------------POPUP-----------------*/

.popup-content{

    margin-top: 15px;
    width: 91.48vw;

  }
  .popup-article{
    height: 546px;
    width: 91.48vw;

  }
  .popup-visits-article, .popup-email-article, .popup-feedback-article{
    margin: 4px 7.5vw 16px;

  }

  .popup-feedback{
    width: 78.05vw;
    margin-left: 7.5vw;  
}

  .visits-select{
    width: 78.05vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }

  .form_radio {
    margin-left: 7.5vw;
  }

  .field{
    width: 78.05vw;

  }

  .button{
    width: 78.05vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }
 }

