@media (min-width:1200px) {
     

  .header {
    background: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #666666;
  
    padding: 30px 0;
    position: relative;
    z-index: -1;
  }
  
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  /*контейнер*/
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  /*верхнее меню с лого*/
  .menu-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    z-index: 1;
  }
  
  .menu {
    display: flex;
  
    padding: 0;
    margin-left: 525px;
  
    list-style-type: none;
  }
  
  .menu-list-item {
    margin-right: 35px;
  }
  
  .menu-list-item-link {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
  
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
  }
  
  .menu-list-item-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .menu-list-item:last-child {
    margin-right: 0;
  }
  
  .intro {
    box-sizing: border-box;
    width: 668px;
    height: 373px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
  
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
  
    z-index: 2;
  }
}